/* Write your CSS here */
/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: grey;
  height: 100vh;
}
h1 {
  text-align: center;
}

input {
  width: 30%;
  margin-bottom: 25px;
  height: 45px;
}

.button-click-add {
  background-color: #5a18f2;
  border-radius: 3px;
  height: 40px;
  width: 110px;
  color: white;
}
ul {
  padding: 0px;
}
